@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}
:root{
    --cor1:#6249F2;
    --cor2:#4C5DDB;
    --cor3:#4989F2;
    --cor4:#46AEE8;
}
body{
    background-color: var(--cor1);  
}
header{
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.397);
    color: white;
}
section{
    max-width: 500px;
    height: 500px;
    background-color: white;
    border: 5px solid black;
    border-radius: 20px;
    margin: auto;
    padding:20px 0 0 20px;
}
section #tx{
    margin-bottom: 50px;
   
}
section #aqui{
    text-align: center;
    color: rgb(117, 117, 117);
}
#tabnum{
    border: 2px solid black;
    border-radius: 5px;
}
section #resultado{
    width: 200px;
    height: 300px;
    border: 2px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 20px; 
    color: black;
    line-height: 10px;
}